<header>
    <div class="headerContent">
        <div class="haderAppName">
            <h1><a href="/">Message Board</a></h1>
        </div>
        <div class="headerItem">
            <% if (user) {%>
                <p class="headerLink"><a href="/membership">Membership</a></p>
                <p class="headerLink"><a href="/log-out">Log Out</a></p>
            <% } else { %>
                <p class="headerLink"><a href="/log-in">Log In</a></p>
            <%}%>
        </div>
    </div>
</header>