<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') -%>
    <div class="content">
      <div class="logInContainer">
        <div>
          <h1>Log in</h1>
        </div>
        <form action="/log_in" method="POST" class="logInForm">
          <label for="username">Email: </label>
          <input name="username" placeholder="username" type="text"/>
          <label for="password">Password: </label>
          <input name="password" type="password"/>
          <button class="logInButton">Log In</button>
        </form>
        <%if(locals.errors != null){%>
          <div class="errorContainer">
            <h2>Log in error</h2>
            <%locals.errors.forEach(error => {%>
              <p><%=error.msg%></p>
            <%})%>
          </div>
        <%}%>
      </div>
      <div>
        <h1><a href="/sign_up">No Account? Sign Up Now!</a></h1>
      </div>      
    </div>
  </body>
</html>
